<div class="container p-5">
  <h1 class="p-2">Basic Form</h1>
  <div>
    <form formGroupName="basicForm">
      <!-- NAME -->
      <div class="row mb-2">
        <label for="name" class="col-4 col-form-label">Name </label>
        <div class="col-8">
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
            placeholder="Name"
          />
        </div>
      </div>
      <!--end of NAME -->
    </form>
  </div>
</div>

<div>
  <pre>Form Value: {{ basicForm.value }} </pre>
</div>
